$backgroud_color:#F7F1D7;
$title_color:#DC8B7A;
$matcha_color:#707A56;
$text_grey:rgba(0,0,0,0.5);
$text_lightyellow:#F7F1D7;
$text_matcha:#707A56;
$photo_highlight:#ACB767;
$deep_green:#273E36;

$font_size_context:1rem; //16px
$font_size_title:1.5rem; //24px
$font_size_special:2rem; //32px

$letter_space:1px;

$baseLineHeight:22px;
//（未看Alex scss教學前的寫法）以下用function統一處理，請看變數baseLineHeight 以及function line函數
// $section_padding:90px 0px; 改爲頂天立地88px  --> line(3)
// $title_margin:45px 0px;    改爲標題距離44px  --> line(2)
// $context_margin:22px 0px;  改爲内文距離22px  --> line(1)

%abutton{
    text-decoration: none;
}

@function line($count:1){
    @return $baseLineHeight * $count
}

@font-face {
    font-family: 'jf-bubble';
    src: url('../fonts/jf-openhuninn-1.1/jf-openhuninn-1.1.ttf');
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $backgroud_color !important;
    font-family: 'jf-bubble' !important;   
}

//<!-- ========== navGroup + bannerGroup ========== -->
// navtoggle（從codepen複製的）
nav.navbar{
    position:fixed;
    // padding-left: 350px;
    z-index: 999;
    right: 0;

    #toggle {
        width: 28px;
        height: 30px;
        margin: 10px 25px;
        display: none;

        div {
            width: 100%;
            height: 5px;
            background: #DB6C5A;
            margin: 4px auto;
            transition: all 0.3s;
            backface-visibility: hidden;
        }
    }

    // #shirley-navbar-nav{        
    //         ul{ 
    //             font-size: 16px;
    //             padding-left: 8px;
    //             text-align: center;
        
    //             li{
        
    //                 a{
    //                 color: white;
    //                 letter-spacing: $letter_space;
    //                 }
    //             }
    //         }
           
    // }

    #header{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9997;
        transition: all 0.5s;
        padding: 15px;
        overflow-y: auto;
        
        .nav-menu {
            ul{
                margin: 0;
                padding: 0;
                list-style: none;

                li{
                    a{
                        @extend %abutton;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $text_lightyellow;
                        padding: 10px 18px;
                        margin-bottom: 8px;
                        transition: 0.3s;
                        font-size: 15px;
                        border-radius: 50px;
                        background: #AAB28A;
                        height: 56px;
                        // width: 100%;
                        overflow: hidden;
                        transition: 0.3s;
                        letter-spacing: 2px;
                    }

                    // &.active{
                    //     background-color: rebeccapurple;
                    // }

                    
                }

                
            }

            
              
        }

        &.active{
            left: 0;
        } 


        .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
            color: #fff;
            background: $title_color;
          }

    

    }

}

 
  #toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #toggle.on .two {
    opacity: 0;
  }
  
  #toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }

// 結束navtoggle複製

    #banner{
        height: 50vh;
        padding-top: 54px;

        .aboutme{

            .text{
                margin:line(2) 0px ;
                font-size: $font_size_title;
                color: grey;
                letter-spacing: 1px;
                line-height: 57px;
                text-align: justify;

                p{
                    padding-right: 1rem;
                }
            }
        }

        .lineGroup{

            .top{
                width: 100%;
                height: 100%;
                
                &::before{
                    content: '';
                    position: absolute;
                    width: 185px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: 10px;
                    top: 50px;
                    // animation: lines 5s linear;
    
                }
    
                &::after{
                    content: '';
                    position: absolute;
                    width: 260px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: -10px;
                    top: 65px;
                }
            }
    
            .bottom{
                width: 100%;
                height: 100%;
                
                &::before{
                    content: '';
                    position: absolute;
                    width: 174px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: 10px;
                    top: 120px;
    
                }
    
                &::after{
                    content: '';
                    position: absolute;
                    width: 250px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: 23px;
                    top: 102px;
                }
            }
        }

        .photo{
            position: absolute;
            // width: 50%;
            left: 50%;
            transform: translateX(-50%);
            bottom: -31px;

            width: 404px;
            height: 454px;
            background-color: $photo_highlight;
            background-image: url('../img/shirley_photo.png');
            background-repeat: no-repeat;
            background-position: bottom;
            z-index: 99;

            // img{
            //     width: 100%;
            // }
        }

        .irregular{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 452px;
            height: 280px;
            bottom: -73px;
            background-image: url('../img/irregular_pink.png');
            background-repeat: no-repeat;
            z-index: 9;
        }

        .shirley{
            transform: rotate(90deg);
            position: absolute;
            z-index: 399;

            .shirley_line{

                text{
                stroke-dasharray: 700;
                stroke-dashoffset: 500;
                animation: dash 5s linear forwards;
                // animation-delay:.5s;
            }
              }
          }

           

          }    
        
    .wave{
        position: relative;
        height: 50vh;

        path{
            fill:$matcha_color;
        }

        .resume{

            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: $text_lightyellow;
            letter-spacing: 2px;

            .title{
                margin: line(2) 0px;
            }

            .btn{
                width: 160px;
                height: 50px;
                display: inline-block;
                background-color: $title_color;
                margin:line(2) 0px;
                // line-height: 50px;
            
                
                a{
                    text-decoration: none;
                    color: $text_lightyellow;
                    font-size: $font_size_title;

                
                }
            }

        }
    }
    
   
      
// navbar 熒幕寬度991以下時出現toggle


@media (max-width:1200px){

    nav.navbar{
        padding-left: 100px;
    }

    #bannerGroup{
    #banner{
        .aboutme{
            h2{
                font-size:$font_size_title;
            }
            .text{
                font-size: unset;
                
            }
        }

        .photo {
            width: 344px;
            height: 414px;
        }

        .irregular{
            width: 380px;
            height: 240px;
            bottom: -73px;
            background-image: url('../img/irregular_pink380.png');
        }

    }

    
}
}

@media (max-width:991px){
    // header{
        nav.navbar{

            #toggle{
                display: block;
                z-index: 9999;
            }

            #header {
                width: 100%;
                background: $backgroud_color;
                border-right: 1px solid #e6e9ec;
                left: -100%;

              }
    }
    // }

}

@media (max-width:768px){
    nav.navbar {
        padding-left: 30px;

        #shirley-navbar-nav{
            background-color: rgba(0,0,0,0.5);
        }
    }

    #bannerGroup{
        #banner{
            height: 37vh;

            .aboutme{
                .text{
                    letter-spacing: 1px;
                    line-height: 40px;
                }
            }

            .lineGroup{
                .top{
                    &::before{
                        width: 115px;
                        left: -42px;
                        top: 30px;
                    }

                    &::after{
                        width: 180px;
                        left: -52px;
                        top: 40px;
                    }
                }

                .bottom{
                    &::before{
                        width: 115px;
                        left: -42px;
                        top: 92px;
                    }

                    &::after{
                        width: 180px;
                        left: -52px;
                        top: 100px;
                    }
                }
            }

            .photo{
                width: 314px;
                height: 374px;
                bottom: -58px;
                left: 43%;
                background-image: url('../img/shirley_photo_239.png');
            }

            .irregular{
                width: 390px;
                height: 210px;
                bottom: -78px;
                background-image: url('../img/irregular_pink340.png');
            }

        }

        .wave{
            height: 63vh;
        }

        
    }
}

@media (max-width:575px){
    nav.navbar {
        padding-left: 6px;
    }

    #bannerGroup{
        height: 180vh;
        #banner{
            height: 60vh;
            padding-top: 74px;

            .aboutme{
                padding: 0 15px;

                p{
                    padding-right: unset;
                }
            }

            .photo{
                width: 314px;
                height: 324px;
                // bottom: -30px;
                left: 50%;
                top: 0;
            }

            .irregular{
                width: 380px;
            }

        }

        .wave{
            .resume{
                top: 21%;

                h2{
                    font-size: $font_size_title;
                }
                .btn{
                    width: 130px;
                    height: 40px;

                    a{
                        font-size: $font_size_context;
                    }
                }
            }
        }

        
    }

    .wave{
        bottom: -330px;
    }
    }

@media (max-width:320px){
     
    #bannerGroup{
        height: 210vh;
        
        #banner{
            height: 76vh;
        }

        .wave {
            height: 74vh;
        }
    }
}



@keyframes dash {
    from{
        opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }

//<-- End navGroup + bannerGroup -->

//<!-- ========== Portfolio ========== -->
#Portfolio{
    padding: line(4) 0px;
    position: relative;

    .leaves{
        position: absolute;
        left: 0;

        img{
            width: 100%;
        }
    }

    div{
        iframe{
            width: 100%; 
            height: 700px;
        }
    }
}


@media(max-width:768px){
    #Portfolio{
    padding: line(2) 0px;

        .leaves {
            width: 140px;
            top: -3px;
        }

        div{
            iframe{
                height: 700px;
            }
        }
    }
}

@media (max-width:576px){
    #Portfolio{

        .leaves {
            width: 80px;
            top: -43px;
        }

        div{
            iframe{
                height: 330px;
            }
        }
    }   
}

@media (max-width:320px){
    #Portfolio{

        .leaves{
            width: 81px;
            top: 0px;
        }
    }
}
//<-- End Portfolio -->

//<!-- ========== BighomeWebsite ========== -->
#BighomeWebsite{
    padding: line(4) 0px;
    color: $text_matcha;
    position: relative;

    .leaves{
        width: 400px;
        position: absolute;
        top: -12%;
        right:0;

        img{
            width: 100%;
        }
    }

    .mockUp{
       width: 770px;
       margin: 0 auto;

       img{
           width: 100%;
       }
    }
    
    .text{
        h4 {
            font-size: $font_size_context;
            text-align: center;
        }

        .background {
            position: relative;
            z-index: 1;
        
            &::before {
                content:'';
                position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                width: 33%;
                border-top: 1px solid $deep_green;
                top: 50%; 
                left: 0; 
                right: 0; 
                bottom: 0;
                margin: 0 auto; /* this centers the line to the full width specified */
                z-index: -1;
            }

            span { 
                /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
                background: $backgroud_color; 
                padding: 0 35px; 
            }
        }

        .title{
            width: 200px;
            line-height: 35px;
            // border: 1px solid;
            background-color: $title_color;
            box-shadow: 5px 5px $text_grey;
            margin: line(2) auto;
            text-align: center;
            font-size: $font_size_title;
            color: $text_lightyellow;
        }

        p{
            width: 431px;
            margin: auto;
            text-align: justify;
            line-height: 35px;
            letter-spacing: 2px;
        }

        .QRcode{
            width: 100px;
            margin: line(2) auto;

            img{
                width: 100%;
            }
        }

        .clickBtn{
            position: relative;
            z-index: 1;

            &::before{
                content: '';
                position: absolute;
                width: 33%;
                border-top: 1px solid $deep_green;
                z-index: -1;
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            a{
                @extend %abutton;
                background: $backgroud_color; 
                padding: 0 35px; 
                position: relative;
                color: $text_matcha;

                &::after{                
                    content: '';
                    position: absolute;
                    width: 95px;
                    height: 30px;
                    top: -15%;
                    left: 50%;
                    transform: translateX(-50%);
                    /* left: 0; */
                    border: 1px solid $matcha_color;
                }
            }
        }

    }
}

@media (max-width:768px){
    #BighomeWebsite{
        padding: line(2) 0px;
        .leaves{
            width: 290px;
            top: -9%;
        }

        .text{
            .title{
                width: 220px;
                line-height: 47px;
            }
        }

        .text{
            .background{
                &::before{
                width: 80%;
                }
            }

            .clickBtn{
                &::before{
                width: 80%;
                }
            }
        }

        }
    }


@media (max-width:575px){
    #BighomeWebsite{

        .leaves{            
            width: 160px;
            top: -9%;
        }

        .mockUp{
            width: 370px;
        }

        .text{
            .background{
                span{
                        padding: 0 25px;
                }
            }

            p{
                width: 301px;
                line-height: 35px;
                letter-spacing: 2px;
            }
        }
    }
}

@media (max-width:320px){
    #BighomeWebsite{

        .mockUp{
            width: 320px;
        }

        .leaves{
            width: 140px;
            top: -7%;
        }

        .text{
            p{
                width: 270px;
                letter-spacing: 1px;
            }
        }
    }
}
//<-- End BighomeWebsite -->

//<!-- ========== vedioGroup ========== -->
#vedioGroup{
    padding: line(4) 0px;
    color: $matcha_color;
    font-size: $font_size_title;
    text-align: center;
    position: relative;

    .title{
        width: 346px;
        line-height: 47px;
        background-color: $title_color;
        box-shadow: 5px 5px $text_grey;
        margin: 22px 0;
        color: $text_lightyellow;
    }

    iframe{
        width: 450px;
        height: 320px;
    }

    .leaves{
        width: 280px;
        position: absolute;
        left: 0;
        bottom: -320px;
    

        img{
            width: 100%;
        }
    }
}

@media (max-width:768px){
    #vedioGroup{
    padding: line(2) 0px;

    .title{
        width: 226px;
        line-height: 38px;
        margin: 0 auto 40px auto;
    }

    iframe{
        width: 350px;
    }

    .leaves{
        width: 190px;
        left: 0px;
        bottom: -60px;
    }

    }
}

@media (max-width:576px){
    #vedioGroup{
        p{
            font-size:$font_size_context;
        }

        iframe{
            width: 340px;
            height: 230px;
        }

        .leaves{
            width: 100px;
            left: 0px;
            bottom: -110px;
        }
    }
}

@media (max-width:320px){
    #vedioGroup{
       
        iframe{
            width: 290px;
            height: 200px;
        }

        .leaves{
            width: 90px;
        }
    }
}

//<-- End vedioGroup -->


//<!-- ========== habbits ========== -->
#habbits{
    padding: line(4) 0px;
    background-color: $matcha_color;

    .myArticle{
        width: 200px;

        img{
            width: 100%;
        }

        h4{
            position: relative;
            text-align: center;
            position: relative;
            color: $text_lightyellow;
            font-size: $font_size_context;
            margin: 15px 0 0 0;
            z-index: 1;
            
            &::before{
                content: '';
                position: absolute;
                border-top: 1px solid $text_lightyellow;
                top: 50%;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;

            }

            a{
                @extend %abutton;
                color: $text_lightyellow;
                span{
                    width: 100px;
                    padding: 0 14px;
                    background-color: $matcha_color;
                }
            }
        }
    }

    .title{
        margin: line(2) auto;
        width: 180px;
        line-height: 35px;
        background-color: $title_color;
        box-shadow: 5px 5px $text_grey;
        text-align: center;
        color: $text_lightyellow;
    }

    p{
        color: $text_lightyellow;
        width: 410px;
        line-height: 35px;
        letter-spacing: 2px;
    }

    .little-title{
        text-align: center;
        position: relative;
        z-index: 1;
        font-size: $font_size_context;
        margin:  line(2) auto;
        color: $deep_green;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            border-top: 1px solid $deep_green;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: -1;

        }

        span{
            background-color: $matcha_color;
            padding: 0 25px;
        }

    }

    .img{
        // width: 250px;
        margin:auto 0px;

        img{
            width: 100%;
        }
    }

    .title-2{
        font-size: $font_size_title;
        flex-wrap: wrap;
        width: 80px;
        margin: 44px auto 0 auto;
        color: $deep_green;
        // margin-left: auto;
        // margin-right: auto;
    }

    // .img-mid{
    //     width: 450px;
    // }


}

@media (max-width:768px){
    #habbits{
        padding: line(2) 0px;

        .myArticle {
            width: 140px;
        }

        p{
            width: 265px;
            letter-spacing: 1px;
        }
    }
}

@media (max-width:576px){
    #habbits{
        .title-2{
            margin: 44px auto 44px auto;
        }
    }
}
//<-- End habbits -->


//<!-- ========== futureGoal ========== -->
#futureGoal{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: seagreen;
    position: relative;

    &::after{
        content: '未來目標';
        margin-top: 100px;
        position: absolute;
        font-size: 60px;
        color: white;
        left: 50%;
        transform: translateX(-50%);
    }
    .content{
       text-align: center;

       .img{

           img{
               width: 100%;
           }
       }
    }

    .coin{
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 150px;
        width: 150px;
        padding-bottom: 15%;

        .jump{
            animation: jump 1.5s infinite ease;
        }

        .front{
            position: absolute;
            height: 150px;
            width: 150px;
            background: #ffbd0b;
            border-radius: 50%;
            border-top: 7px solid #ffd84c;
            border-left: 7px solid #ffd84c;
            border-right: 7px solid #d57e08;
            border-bottom: 7px solid #d57e08;
            transform: rotate(44deg);

            &::before{
                content: '';
                margin: 35.5px 35.5px;
                position: absolute;
                width: 70px;
                height: 70px;
                background: #f0a608;
                border-radius: 50%;
                border-bottom: 5px solid #ffd84c;
                border-right: 5px solid #ffd84c;
                border-left: 5px solid #d57e08;
                border-top: 5px solid #d57e08;
                z-index: 2;
            }

            .currency{
                overflow: hidden;
                position: absolute;
                color: #ffbd0b;
                font-size: 40px;
                transform: rotate(-44deg);
                line-height: 3.7;
                width: 100%;
                height: 100%;
                text-align: center;
                text-shadow: 0 3px 0 #cb7407;
                z-index: 3;
                border-radius: 50%;

                &::after{
                    content: "";
                    position: absolute;
                    height: 200px;
                    width: 40px;
                    margin: 20px -65px;
                    box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22), 85px -10px 0 -16px rgba(255, 255, 255, 0.19);
                    transform: rotate(-50deg);
                    animation: shine 1.5s infinite ease;
                }
            }

            .shapes{
                transform: rotate(-44deg);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .shape{
                    width: 20px;
                    height: 4px;
                    background: #d57e08;
                    border-top: 2px solid #c47207;
                    margin: 75px 7px;

                    &::before{
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 4px;
                        background: #d57e08;
                        border-top: 2px solid #c47207;
                        margin: -10px 0;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 4px;
                        background: #d57e08;
                        border-top: 2px solid #c47207;
                        margin: 8px 0;
                    }

                }

                .shape_l{
                    float: left;
                }  
                .shape_r{
                    float: right;
                }

                .top{
                    font-size: 30px;
                    color: #d67f08;
                    text-align: center;
                    width: 100%;
                    position: absolute;
                    left: 0;
                }

                .bottom{
                    font-size: 30px;
                    color: #d67f08;
                    text-align: center;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            }

        .shadow{
                width: 100%;
                height: 20px;
                background: rgba(0, 0, 0, 0.4);
                left: 0;
                bottom: -50px;
                border-radius: 50%;
                z-index: -1;
                margin: 185px 7px 0 7px;
                animation: swift 1.5s infinite ease;

            }
    }
}

@keyframes swift{
    0%{
    opacity: 0.8;
}
    50%{
    opacity: 0.4;
    transform: scale(0.8);
}
    100%{
    opacity: 0.8;
    }
}
@keyframes jump{
    0%{
        top: 0;
    }
    50%{
        top: -40px;
    }
    100%{
        top: 0;
    }
}
@keyframes shine{
            0%{
            margin: 20px -65px
        }
            50%{
            margin: 70px -85px
        }
            100%{
            margin: 20px -65px
        }
}

@media (max-width:768px){
    #futureGoal{

        .img{
            top: -80px !important;
        }


        .coin{
            padding-bottom: 35%;
        }
    }
}

@media (max-width:575px){
    #futureGoal{
        &::after{
            font-size: 30px;
            margin-top: 10px;
        }

        // .img{
        //     top: -80px !important;
        // }
        

        .coin{
            padding-bottom: 65%;
        }
    }
}
//<-- End futureGoal -->


//<!-- ========== footer ========== -->
#footer{
    width: 100%;
    min-height: 100vh;
    color: $text_lightyellow;
    background-color: $deep_green;
    position: relative;

    //placeholder内文字改顔色
    ::-webkit-input-placeholder{
        color:grey;
    }
    // End placeholder内文字改顔色

    .leaves-l{
        position: absolute;
        left: 0%;
        top: 16%;
        width: 400px;
        
        img{
            width: 100%;
        }
    }

    .leaves-r{
        position: absolute;
        right: 0%;
        width: 400px;

        img{
            width: 100%;
        }
    }

    ul{
        li{
            list-style: none;

            

            i{
                margin-right: 10px;
            }
        }
    }

    ul.info{
        margin-bottom: 7rem;
        
    }

    ul.title{
        font-size: 25px;
        margin-bottom: 6rem;

    }

    form{
        div{
            margin-bottom: 4.5rem;
           

            input{
                width: 45%;
                background-color: $deep_green;
                border: 1px solid $text_lightyellow;
                // margin-right: 2.5rem;
                border-radius: 10px;
                padding: 10px;
                outline: none;

                
            }

            textarea{
                width: 100%;
                background-color: $deep_green;
                border: 1px solid $text_lightyellow;
                border-radius: 10px;
                padding: 10px;
                outline: none;
            }
        }

        .Btn{
            text-align: center;
            // margin-right: 40px;

            button{
                width: 140px;
                padding: 10px;
                border-radius: 10px;
                background-color: #DB6C5A;
                // border: 1px solid $text_lightyellow;
                color: $text_lightyellow;
            }
    }


        // button{
        //     margin: auto;
        // }
    }

    .copyRight{
        position: absolute;
        bottom: line(4);
        width: 58%;
        color: $matcha_color;
        

        .socialBtn{
            font-size: 24px;
            span{
                a{
                    color: $matcha_color;

                    &:hover{
                        color: $title_color;
                    }
                }
            }
        }
    }
} 

@media (max-width:768px){
    #footer{
        .leaves-l{
            top: 21%;
            width: 270px;
        }

        .leaves-r{
            top: 3%;
            width: 330px;
        }

        ul{
            margin-bottom: 3rem;
        }

        
        form{

            div{
                margin-bottom: 3.5rem;
            }

            input{
                margin-right: 1.5rem;
            }
        }
        

        ul.info{
                margin-bottom: 5rem;
        }

        .copyRight{
            width: 88%;
            bottom: 28px;
        }
    }
}

@media (max-width:576px){
    #footer{
        .leaves-l{
            top: 26%;
            width: 155px;
        }

        .leaves-r{
            top: 5%;
            width: 130px;
        }

        ul.info{
            margin-bottom: 2rem;
        }

        ul.title{
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            padding-left: unset;
        }

        form{
            div{
                margin-bottom: 2rem;

                input{
                    width: 46%;
                    padding: 5px;
                    margin-right: unset;
                }

                textarea{
                    padding: 5px;
                }
            }

            .Btn{
                button{
                    padding: 5px;
                    margin-right: unset;
                }
            }
        }

        .copyRight{
            font-size: 10px;
            flex-direction: column;
        }
    }
}

@media (max-width:320px){
    #footer{
        .leaves-l{
            top: 29%;
            width: 125px;
            transform: rotate(-16deg);
            left: -4%;      
        }

        .leaves-r{
            top: 6%;
            width: 110px;
        }

        ul.title{
            margin-bottom: 35px;
        }

        form{
            div{
                margin-bottom: 1rem;
            }
        }
    }
}
//<-- End footer -->
