@charset "UTF-8";
nav.navbar #header .nav-menu ul li a, #BighomeWebsite .text .clickBtn a, #habbits .myArticle h4 a {
  text-decoration: none;
}

@font-face {
  font-family: 'jf-bubble';
  src: url("../fonts/jf-openhuninn-1.1/jf-openhuninn-1.1.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F1D7 !important;
  font-family: 'jf-bubble' !important;
}

nav.navbar {
  position: fixed;
  z-index: 999;
  right: 0;
}

nav.navbar #toggle {
  width: 28px;
  height: 30px;
  margin: 10px 25px;
  display: none;
}

nav.navbar #toggle div {
  width: 100%;
  height: 5px;
  background: #DB6C5A;
  margin: 4px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

nav.navbar #header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

nav.navbar #header .nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.navbar #header .nav-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F7F1D7;
  padding: 10px 18px;
  margin-bottom: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #AAB28A;
  height: 56px;
  overflow: hidden;
  transition: 0.3s;
  letter-spacing: 2px;
}

nav.navbar #header.active {
  left: 0;
}

nav.navbar #header .nav-menu a:hover, nav.navbar #header .nav-menu .active > a, nav.navbar #header .nav-menu li:hover > a {
  color: #fff;
  background: #DC8B7A;
}

#toggle.on .one {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

#banner {
  height: 50vh;
  padding-top: 54px;
}

#banner .aboutme .text {
  margin: 44px 0px;
  font-size: 1.5rem;
  color: grey;
  letter-spacing: 1px;
  line-height: 57px;
  text-align: justify;
}

#banner .aboutme .text p {
  padding-right: 1rem;
}

#banner .lineGroup .top {
  width: 100%;
  height: 100%;
}

#banner .lineGroup .top::before {
  content: '';
  position: absolute;
  width: 185px;
  height: 3px;
  background-color: #DB6C5A;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10px;
  top: 50px;
}

#banner .lineGroup .top::after {
  content: '';
  position: absolute;
  width: 260px;
  height: 3px;
  background-color: #DB6C5A;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -10px;
  top: 65px;
}

#banner .lineGroup .bottom {
  width: 100%;
  height: 100%;
}

#banner .lineGroup .bottom::before {
  content: '';
  position: absolute;
  width: 174px;
  height: 3px;
  background-color: #DB6C5A;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 10px;
  top: 120px;
}

#banner .lineGroup .bottom::after {
  content: '';
  position: absolute;
  width: 250px;
  height: 3px;
  background-color: #DB6C5A;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 23px;
  top: 102px;
}

#banner .photo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -31px;
  width: 404px;
  height: 454px;
  background-color: #ACB767;
  background-image: url("../img/shirley_photo.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 99;
}

#banner .irregular {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 452px;
  height: 280px;
  bottom: -73px;
  background-image: url("../img/irregular_pink.png");
  background-repeat: no-repeat;
  z-index: 9;
}

#banner .shirley {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  z-index: 399;
}

#banner .shirley .shirley_line text {
  stroke-dasharray: 700;
  stroke-dashoffset: 500;
  -webkit-animation: dash 5s linear forwards;
          animation: dash 5s linear forwards;
}

.wave {
  position: relative;
  height: 50vh;
}

.wave path {
  fill: #707A56;
}

.wave .resume {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #F7F1D7;
  letter-spacing: 2px;
}

.wave .resume .title {
  margin: 44px 0px;
}

.wave .resume .btn {
  width: 160px;
  height: 50px;
  display: inline-block;
  background-color: #DC8B7A;
  margin: 44px 0px;
}

.wave .resume .btn a {
  text-decoration: none;
  color: #F7F1D7;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  nav.navbar {
    padding-left: 100px;
  }
  #bannerGroup #banner .aboutme h2 {
    font-size: 1.5rem;
  }
  #bannerGroup #banner .aboutme .text {
    font-size: unset;
  }
  #bannerGroup #banner .photo {
    width: 344px;
    height: 414px;
  }
  #bannerGroup #banner .irregular {
    width: 380px;
    height: 240px;
    bottom: -73px;
    background-image: url("../img/irregular_pink380.png");
  }
}

@media (max-width: 991px) {
  nav.navbar #toggle {
    display: block;
    z-index: 9999;
  }
  nav.navbar #header {
    width: 100%;
    background: #F7F1D7;
    border-right: 1px solid #e6e9ec;
    left: -100%;
  }
}

@media (max-width: 768px) {
  nav.navbar {
    padding-left: 30px;
  }
  nav.navbar #shirley-navbar-nav {
    background-color: rgba(0, 0, 0, 0.5);
  }
  #bannerGroup #banner {
    height: 37vh;
  }
  #bannerGroup #banner .aboutme .text {
    letter-spacing: 1px;
    line-height: 40px;
  }
  #bannerGroup #banner .lineGroup .top::before {
    width: 115px;
    left: -42px;
    top: 30px;
  }
  #bannerGroup #banner .lineGroup .top::after {
    width: 180px;
    left: -52px;
    top: 40px;
  }
  #bannerGroup #banner .lineGroup .bottom::before {
    width: 115px;
    left: -42px;
    top: 92px;
  }
  #bannerGroup #banner .lineGroup .bottom::after {
    width: 180px;
    left: -52px;
    top: 100px;
  }
  #bannerGroup #banner .photo {
    width: 314px;
    height: 374px;
    bottom: -58px;
    left: 43%;
    background-image: url("../img/shirley_photo_239.png");
  }
  #bannerGroup #banner .irregular {
    width: 390px;
    height: 210px;
    bottom: -78px;
    background-image: url("../img/irregular_pink340.png");
  }
  #bannerGroup .wave {
    height: 63vh;
  }
}

@media (max-width: 575px) {
  nav.navbar {
    padding-left: 6px;
  }
  #bannerGroup {
    height: 180vh;
  }
  #bannerGroup #banner {
    height: 60vh;
    padding-top: 74px;
  }
  #bannerGroup #banner .aboutme {
    padding: 0 15px;
  }
  #bannerGroup #banner .aboutme p {
    padding-right: unset;
  }
  #bannerGroup #banner .photo {
    width: 314px;
    height: 324px;
    left: 50%;
    top: 0;
  }
  #bannerGroup #banner .irregular {
    width: 380px;
  }
  #bannerGroup .wave .resume {
    top: 21%;
  }
  #bannerGroup .wave .resume h2 {
    font-size: 1.5rem;
  }
  #bannerGroup .wave .resume .btn {
    width: 130px;
    height: 40px;
  }
  #bannerGroup .wave .resume .btn a {
    font-size: 1rem;
  }
  .wave {
    bottom: -330px;
  }
}

@media (max-width: 320px) {
  #bannerGroup {
    height: 210vh;
  }
  #bannerGroup #banner {
    height: 76vh;
  }
  #bannerGroup .wave {
    height: 74vh;
  }
}

@-webkit-keyframes dash {
  from {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes dash {
  from {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

#Portfolio {
  padding: 88px 0px;
  position: relative;
}

#Portfolio .leaves {
  position: absolute;
  left: 0;
}

#Portfolio .leaves img {
  width: 100%;
}

#Portfolio div iframe {
  width: 100%;
  height: 700px;
}

@media (max-width: 768px) {
  #Portfolio {
    padding: 44px 0px;
  }
  #Portfolio .leaves {
    width: 140px;
    top: -3px;
  }
  #Portfolio div iframe {
    height: 700px;
  }
}

@media (max-width: 576px) {
  #Portfolio .leaves {
    width: 80px;
    top: -43px;
  }
  #Portfolio div iframe {
    height: 330px;
  }
}

@media (max-width: 320px) {
  #Portfolio .leaves {
    width: 81px;
    top: 0px;
  }
}

#BighomeWebsite {
  padding: 88px 0px;
  color: #707A56;
  position: relative;
}

#BighomeWebsite .leaves {
  width: 400px;
  position: absolute;
  top: -12%;
  right: 0;
}

#BighomeWebsite .leaves img {
  width: 100%;
}

#BighomeWebsite .mockUp {
  width: 770px;
  margin: 0 auto;
}

#BighomeWebsite .mockUp img {
  width: 100%;
}

#BighomeWebsite .text h4 {
  font-size: 1rem;
  text-align: center;
}

#BighomeWebsite .text .background {
  position: relative;
  z-index: 1;
}

#BighomeWebsite .text .background::before {
  content: '';
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  width: 33%;
  border-top: 1px solid #273E36;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  /* this centers the line to the full width specified */
  z-index: -1;
}

#BighomeWebsite .text .background span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #F7F1D7;
  padding: 0 35px;
}

#BighomeWebsite .text .title {
  width: 200px;
  line-height: 35px;
  background-color: #DC8B7A;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  margin: 44px auto;
  text-align: center;
  font-size: 1.5rem;
  color: #F7F1D7;
}

#BighomeWebsite .text p {
  width: 431px;
  margin: auto;
  text-align: justify;
  line-height: 35px;
  letter-spacing: 2px;
}

#BighomeWebsite .text .QRcode {
  width: 100px;
  margin: 44px auto;
}

#BighomeWebsite .text .QRcode img {
  width: 100%;
}

#BighomeWebsite .text .clickBtn {
  position: relative;
  z-index: 1;
}

#BighomeWebsite .text .clickBtn::before {
  content: '';
  position: absolute;
  width: 33%;
  border-top: 1px solid #273E36;
  z-index: -1;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#BighomeWebsite .text .clickBtn a {
  background: #F7F1D7;
  padding: 0 35px;
  position: relative;
  color: #707A56;
}

#BighomeWebsite .text .clickBtn a::after {
  content: '';
  position: absolute;
  width: 95px;
  height: 30px;
  top: -15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* left: 0; */
  border: 1px solid #707A56;
}

@media (max-width: 768px) {
  #BighomeWebsite {
    padding: 44px 0px;
  }
  #BighomeWebsite .leaves {
    width: 290px;
    top: -9%;
  }
  #BighomeWebsite .text .title {
    width: 220px;
    line-height: 47px;
  }
  #BighomeWebsite .text .background::before {
    width: 80%;
  }
  #BighomeWebsite .text .clickBtn::before {
    width: 80%;
  }
}

@media (max-width: 575px) {
  #BighomeWebsite .leaves {
    width: 160px;
    top: -9%;
  }
  #BighomeWebsite .mockUp {
    width: 370px;
  }
  #BighomeWebsite .text .background span {
    padding: 0 25px;
  }
  #BighomeWebsite .text p {
    width: 301px;
    line-height: 35px;
    letter-spacing: 2px;
  }
}

@media (max-width: 320px) {
  #BighomeWebsite .mockUp {
    width: 320px;
  }
  #BighomeWebsite .leaves {
    width: 140px;
    top: -7%;
  }
  #BighomeWebsite .text p {
    width: 270px;
    letter-spacing: 1px;
  }
}

#vedioGroup {
  padding: 88px 0px;
  color: #707A56;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
}

#vedioGroup .title {
  width: 346px;
  line-height: 47px;
  background-color: #DC8B7A;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  margin: 22px 0;
  color: #F7F1D7;
}

#vedioGroup iframe {
  width: 450px;
  height: 320px;
}

#vedioGroup .leaves {
  width: 280px;
  position: absolute;
  left: 0;
  bottom: -320px;
}

#vedioGroup .leaves img {
  width: 100%;
}

@media (max-width: 768px) {
  #vedioGroup {
    padding: 44px 0px;
  }
  #vedioGroup .title {
    width: 226px;
    line-height: 38px;
    margin: 0 auto 40px auto;
  }
  #vedioGroup iframe {
    width: 350px;
  }
  #vedioGroup .leaves {
    width: 190px;
    left: 0px;
    bottom: -60px;
  }
}

@media (max-width: 576px) {
  #vedioGroup p {
    font-size: 1rem;
  }
  #vedioGroup iframe {
    width: 340px;
    height: 230px;
  }
  #vedioGroup .leaves {
    width: 100px;
    left: 0px;
    bottom: -110px;
  }
}

@media (max-width: 320px) {
  #vedioGroup iframe {
    width: 290px;
    height: 200px;
  }
  #vedioGroup .leaves {
    width: 90px;
  }
}

#habbits {
  padding: 88px 0px;
  background-color: #707A56;
}

#habbits .myArticle {
  width: 200px;
}

#habbits .myArticle img {
  width: 100%;
}

#habbits .myArticle h4 {
  position: relative;
  text-align: center;
  position: relative;
  color: #F7F1D7;
  font-size: 1rem;
  margin: 15px 0 0 0;
  z-index: 1;
}

#habbits .myArticle h4::before {
  content: '';
  position: absolute;
  border-top: 1px solid #F7F1D7;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#habbits .myArticle h4 a {
  color: #F7F1D7;
}

#habbits .myArticle h4 a span {
  width: 100px;
  padding: 0 14px;
  background-color: #707A56;
}

#habbits .title {
  margin: 44px auto;
  width: 180px;
  line-height: 35px;
  background-color: #DC8B7A;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #F7F1D7;
}

#habbits p {
  color: #F7F1D7;
  width: 410px;
  line-height: 35px;
  letter-spacing: 2px;
}

#habbits .little-title {
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  margin: 44px auto;
  color: #273E36;
}

#habbits .little-title::after {
  content: '';
  position: absolute;
  width: 100%;
  border-top: 1px solid #273E36;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

#habbits .little-title span {
  background-color: #707A56;
  padding: 0 25px;
}

#habbits .img {
  margin: auto 0px;
}

#habbits .img img {
  width: 100%;
}

#habbits .title-2 {
  font-size: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80px;
  margin: 44px auto 0 auto;
  color: #273E36;
}

@media (max-width: 768px) {
  #habbits {
    padding: 44px 0px;
  }
  #habbits .myArticle {
    width: 140px;
  }
  #habbits p {
    width: 265px;
    letter-spacing: 1px;
  }
}

@media (max-width: 576px) {
  #habbits .title-2 {
    margin: 44px auto 44px auto;
  }
}

#futureGoal {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#futureGoal::after {
  content: '未來目標';
  margin-top: 100px;
  position: absolute;
  font-size: 60px;
  color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#futureGoal .content {
  text-align: center;
}

#futureGoal .content .img img {
  width: 100%;
}

#futureGoal .coin {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
  padding-bottom: 15%;
}

#futureGoal .coin .jump {
  -webkit-animation: jump 1.5s infinite ease;
          animation: jump 1.5s infinite ease;
}

#futureGoal .coin .front {
  position: absolute;
  height: 150px;
  width: 150px;
  background: #ffbd0b;
  border-radius: 50%;
  border-top: 7px solid #ffd84c;
  border-left: 7px solid #ffd84c;
  border-right: 7px solid #d57e08;
  border-bottom: 7px solid #d57e08;
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
}

#futureGoal .coin .front::before {
  content: '';
  margin: 35.5px 35.5px;
  position: absolute;
  width: 70px;
  height: 70px;
  background: #f0a608;
  border-radius: 50%;
  border-bottom: 5px solid #ffd84c;
  border-right: 5px solid #ffd84c;
  border-left: 5px solid #d57e08;
  border-top: 5px solid #d57e08;
  z-index: 2;
}

#futureGoal .coin .front .currency {
  overflow: hidden;
  position: absolute;
  color: #ffbd0b;
  font-size: 40px;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
  line-height: 3.7;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 0 3px 0 #cb7407;
  z-index: 3;
  border-radius: 50%;
}

#futureGoal .coin .front .currency::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  margin: 20px -65px;
  -webkit-box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22), 85px -10px 0 -16px rgba(255, 255, 255, 0.19);
          box-shadow: 50px -23px 0 -10px rgba(255, 255, 255, 0.22), 85px -10px 0 -16px rgba(255, 255, 255, 0.19);
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-animation: shine 1.5s infinite ease;
          animation: shine 1.5s infinite ease;
}

#futureGoal .coin .front .shapes {
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#futureGoal .coin .front .shapes .shape {
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: 75px 7px;
}

#futureGoal .coin .front .shapes .shape::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: -10px 0;
}

#futureGoal .coin .front .shapes .shape::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #d57e08;
  border-top: 2px solid #c47207;
  margin: 8px 0;
}

#futureGoal .coin .front .shapes .shape_l {
  float: left;
}

#futureGoal .coin .front .shapes .shape_r {
  float: right;
}

#futureGoal .coin .front .shapes .top {
  font-size: 30px;
  color: #d67f08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
}

#futureGoal .coin .front .shapes .bottom {
  font-size: 30px;
  color: #d67f08;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#futureGoal .coin .shadow {
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  bottom: -50px;
  border-radius: 50%;
  z-index: -1;
  margin: 185px 7px 0 7px;
  -webkit-animation: swift 1.5s infinite ease;
          animation: swift 1.5s infinite ease;
}

@-webkit-keyframes swift {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes swift {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes shine {
  0% {
    margin: 20px -65px;
  }
  50% {
    margin: 70px -85px;
  }
  100% {
    margin: 20px -65px;
  }
}

@keyframes shine {
  0% {
    margin: 20px -65px;
  }
  50% {
    margin: 70px -85px;
  }
  100% {
    margin: 20px -65px;
  }
}

@media (max-width: 768px) {
  #futureGoal .img {
    top: -80px !important;
  }
  #futureGoal .coin {
    padding-bottom: 35%;
  }
}

@media (max-width: 575px) {
  #futureGoal::after {
    font-size: 30px;
    margin-top: 10px;
  }
  #futureGoal .coin {
    padding-bottom: 65%;
  }
}

#footer {
  width: 100%;
  min-height: 100vh;
  color: #F7F1D7;
  background-color: #273E36;
  position: relative;
}

#footer ::-webkit-input-placeholder {
  color: grey;
}

#footer .leaves-l {
  position: absolute;
  left: -2%;
  top: 10%;
  width: 400px;
}

#footer .leaves-l img {
  width: 100%;
}

#footer .leaves-r {
  position: absolute;
  right: -2%;
  width: 400px;
}

#footer .leaves-r img {
  width: 100%;
}

#footer ul li {
  list-style: none;
}

#footer ul li i {
  margin-right: 10px;
}

#footer ul.info {
  margin-bottom: 7rem;
}

#footer ul.title {
  font-size: 25px;
  margin-bottom: 6rem;
}

#footer form div {
  margin-bottom: 4.5rem;
}

#footer form div input {
  width: 45%;
  background-color: #273E36;
  border: 1px solid #F7F1D7;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

#footer form div textarea {
  width: 100%;
  background-color: #273E36;
  border: 1px solid #F7F1D7;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

#footer form .Btn {
  text-align: center;
}

#footer form .Btn button {
  width: 140px;
  padding: 10px;
  border-radius: 10px;
  background-color: #DB6C5A;
  color: #F7F1D7;
}

#footer .copyRight {
  position: absolute;
  bottom: 88px;
  width: 58%;
  color: #707A56;
}

#footer .copyRight .socialBtn {
  font-size: 24px;
}

#footer .copyRight .socialBtn span a {
  color: #707A56;
}

#footer .copyRight .socialBtn span a:hover {
  color: #DC8B7A;
}

@media (max-width: 768px) {
  #footer .leaves-l {
    top: 20%;
    width: 270px;
  }
  #footer .leaves-r {
    top: 3%;
    width: 330px;
  }
  #footer ul {
    margin-bottom: 3rem;
  }
  #footer form div {
    margin-bottom: 3.5rem;
  }
  #footer form input {
    margin-right: 1.5rem;
  }
  #footer ul.info {
    margin-bottom: 5rem;
  }
  #footer .copyRight {
    width: 88%;
    bottom: 28px;
  }
}

@media (max-width: 576px) {
  #footer .leaves-l {
    top: 21%;
    width: 155px;
  }
  #footer .leaves-r {
    top: 5%;
    width: 130px;
  }
  #footer ul.info {
    margin-bottom: 2rem;
  }
  #footer ul.title {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: unset;
  }
  #footer form div {
    margin-bottom: 2rem;
  }
  #footer form div input {
    width: 46%;
    padding: 5px;
    margin-right: unset;
  }
  #footer form div textarea {
    padding: 5px;
  }
  #footer form .Btn button {
    padding: 5px;
    margin-right: unset;
  }
  #footer .copyRight {
    font-size: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  #footer .leaves-l {
    top: 27%;
    width: 125px;
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
    left: -4%;
  }
  #footer .leaves-r {
    top: 6%;
    width: 110px;
  }
  #footer ul.title {
    margin-bottom: 35px;
  }
  #footer form div {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=index.css.map */