$backgroud_color:#F7F1D7;
$title_color:#DC8B7A;
$matcha_color:#707A56;
$text_grey:#939392;
$text_lightyellow:#F7F1D7;
$photo_highlight:#ACB767;
$deep_green:#273E36;

$font_size_context:1rem; //16px
$font_size_title:1.5rem; //24px
$font_size_special:2rem; //32px

$letter_space:1px;

$baseLineHeight:22px;
//（未看Alex scss教學前的寫法）以下用function統一處理，請看變數baseLineHeight 以及function line函數
// $section_padding:90px 0px; 改爲頂天立地88px  --> line(3)
// $title_margin:45px 0px;    改爲標題距離44px  --> line(2)
// $context_margin:22px 0px;  改爲内文距離22px  --> line(1)

@function line($count:1){
    @return $baseLineHeight * $count
}

@font-face {
    font-family: 'jf-bubble';
    src: url('../fonts/jf-openhuninn-1.1/jf-openhuninn-1.1.ttf');
}


body{
    background-color: $backgroud_color !important;
    font-family: 'jf-bubble' !important;   
}

//<!-- ========== header ========== -->
// navtoggle（從codepen複製的）
nav.navbar{
    position:absolute;
    padding-left: 350px;
    z-index: 999;

    #toggle {
        width: 28px;
        height: 30px;
        margin: 10px 25px;
        display: none;

        div {
            width: 100%;
            height: 5px;
            background: #DB6C5A;
            margin: 4px auto;
            transition: all 0.3s;
            backface-visibility: hidden;
        }
    }

    #shirley-navbar-nav{        
            ul{ 
                font-size: 16px;
                padding-left: 8px;
                text-align: center;
        
                li{
        
                    a{
                    color: white;
                    letter-spacing: $letter_space;
                    }
                }
            }
           
    }

}

 
  #toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #toggle.on .two {
    opacity: 0;
  }
  
  #toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }

// 結束navtoggle複製

    #banner{
        height: 50vh;
        padding-top: 54px;

        .aboutme{

            .text{
                margin:line(2) 0px ;
                font-size: $font_size_title;
            }
        }

        .lineGroup{

            .top{
                width: 100%;
                height: 100%;
                
                &::before{
                    content: '';
                    position: absolute;
                    width: 185px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: 10px;
                    top: 50px;
                    // animation: lines 5s linear;
    
                }
    
                &::after{
                    content: '';
                    position: absolute;
                    width: 260px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: -10px;
                    top: 65px;
                }
            }
    
            .bottom{
                width: 100%;
                height: 100%;
                
                &::before{
                    content: '';
                    position: absolute;
                    width: 174px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: 10px;
                    top: 120px;
    
                }
    
                &::after{
                    content: '';
                    position: absolute;
                    width: 250px;
                    height: 3px;
                    background-color: #DB6C5A;
                    transform: rotate(-45deg);
                    left: 23px;
                    top: 102px;
                }
            }
        }

        .photo{
            position: absolute;
            // width: 50%;
            left: 50%;
            transform: translateX(-50%);
            bottom: -31px;

            width: 404px;
            height: 454px;
            background-color: $photo_highlight;
            background-image: url('../img/shirley_photo.png');
            background-repeat: no-repeat;
            background-position: bottom;
            z-index: 99;

            // img{
            //     width: 100%;
            // }
        }

        .irregular{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 452px;
            height: 280px;
            bottom: -73px;
            background-image: url('../img/irregular_pink.png');
            background-repeat: no-repeat;
            z-index: 9;
        }

        .shirley{
            transform: rotate(90deg);
            position: absolute;
            z-index: 399;

            .shirley_line{

                text{
                stroke-dasharray: 700;
                stroke-dashoffset: 500;
                animation: dash 5s linear forwards;
                // animation-delay:.5s;
            }
              }
          }

           

          }    
        
    

    .wave{
        position: relative;
        height: 50vh;

        path{
            fill:$matcha_color;
        }

        .resume{

            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: $text_lightyellow;

            .title{
                margin: line(2) 0px;
            }

            .btn{
                width: 160px;
                height: 50px;
                display: inline-block;
                background-color: $title_color;
                margin:line(2) 0px;
                // line-height: 50px;
            
                
                a{
                    text-decoration: none;
                    color: $text_lightyellow;
                    font-size: $font_size_title;

                
                }
            }

        }
    }
    
   
      
// navbar 熒幕寬度991以下時出現toggle


@media (max-width:1200px){

    nav.navbar{
        padding-left: 100px;
    }

    #bannerGroup{
    #banner{
        .aboutme{
            h2{
                font-size:$font_size_title;
            }
            .text{
                font-size: unset;
            }
        }

        .photo {
            width: 344px;
            height: 414px;
        }

        .irregular{
            width: 380px;
            height: 240px;
            bottom: -73px;
            background-image: url('../img/irregular_pink380.png');
        }

    }

    
}
}

@media (max-width:991px){
    // header{
        nav.navbar{

            #toggle{
                display: block;
            }
    }
    // }

}

@media (max-width:768px){
    nav.navbar {
        padding-left: 30px;

        #shirley-navbar-nav{
            background-color: rgba(0,0,0,0.5);
        }
    }

    #bannerGroup{
        #banner{
            height: 37vh;

            .lineGroup{
                .top{
                    &::before{
                        width: 115px;
                        left: -42px;
                        top: 30px;
                    }

                    &::after{
                        width: 180px;
                        left: -52px;
                        top: 40px;
                    }
                }

                .bottom{
                    &::before{
                        width: 115px;
                        left: -42px;
                        top: 92px;
                    }

                    &::after{
                        width: 180px;
                        left: -52px;
                        top: 100px;
                    }
                }
            }

            .photo{
                width: 314px;
                height: 374px;
                bottom: -58px;
                left: 43%;
                background-image: url('../img/shirley_photo_239.png');
            }

            .irregular{
                width: 390px;
                height: 210px;
                bottom: -78px;
                background-image: url('../img/irregular_pink340.png');
            }

        }

        .wave{
            height: 63vh;
        }

        
    }
}

@media (max-width:575px){
    nav.navbar {
        padding-left: 6px;
    }

    #bannerGroup{
        #banner{
            height: 60vh;
            padding-top: 74px;

            .photo{
                width: 314px;
                height: 324px;
                // bottom: -30px;
                left: 50%;
                top: 0;
            }

            .irregular{
                width: 380px;
            }

        }

        .wave{
            .resume{
                top: 21%;

                h2{
                    font-size: $font_size_title;
                }
                .btn{
                    width: 130px;
                    height: 40px;

                    a{
                        font-size: $font_size_context;
                    }
                }
            }
        }

        
    }

    .wave{
        bottom: -330px;
    }
    }

@media (max-width:320px){
    
}



@keyframes dash {
    from{
        opacity: 0;
    }
    to {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }

//   @keyframes lines{
//     from{width: 0;}
//     to{width: 1;}
//   }
//<-- End header -->